/* BackButton.css */
.back-button {
  background-color: #0d4038;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #093028;
}
