.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.header-content .left,
.header-content .center,
.header-content .right {
  display: flex;
  align-items: center;
}

.header-content .left {
  justify-content: flex-start;
}

.header-content .center {
  flex: 1;
  justify-content: center;
}

.header-content .right {
  justify-content: flex-end;
}