.services-1 {
    display: flex;
    max-width: 327px;
    flex-direction: column;
    color: var(--Black, #222);
    font-weight: 400;
    margin-top: 12px;
    margin-left: 3px;
  }
  .service-card {
    border-radius: 11.84px;
    background-color: #fff;
    display: flex;
    margin-top: 16px;
    gap: 12px;
    padding: 12px;
  }
  .service-image {
    aspect-ratio: 1.06;
    object-fit: cover;
    object-position: center;
    width: 65px;
  }
  .service-details {
    display: flex;
    gap: 8px;
    flex: 1;
  }
  .service-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
  }
  .service-name {
    font: 14px/143% Inter, sans-serif;
    letter-spacing: 0.28px;
  }
  .service-price {
    font: 12px/167% Inter, sans-serif;
    letter-spacing: 0.24px;
  }
  .service-icon {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 24px;
    margin: auto 0;
  }


  .card-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    border:solid white 2px;
    
  }

  .card-button:hover
  {
    border:solid green 1px;
  }
  
  .card-icon {
    width: 24px;
    height: 24px;
  }
  .up
  {

   display: flex;
   align-self: flex-start;
   position: relative;
   top:-13px;
  }
 .y
 {
    margin-top: 30px;
    padding-left: 30px;
 }
.h
{
    padding-right: 40px;
}
.left
{
  width: 63.03px;
  height:87.28px;
  display: flex;
}
.y3
{
  margin-top: 4px;
}
  