.summary {
    display: flex;
    flex-direction: column;
    max-width: 327px;
    color: var(--Neutral-dark, #828282);
  }

  .line-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin-top: 8px;
  }

  .line-item:first-child {
    margin-top: 0;
  }

  .line-item-label {
    font: 500 15px Nunito, sans-serif;
  }

  .line-item-value {
    font: 400 14px Inter, sans-serif;
  }

  .line-item:last-child {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
  }

  .line-item:last-child .line-item-label,
  .line-item:last-child .line-item-value {
    font-family: Inter, sans-serif;
  }

  .product-card {
    align-self: stretch;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    max-width: 327px;
    gap: 12px;
    font-weight: 400;
    padding: 12px;
  }
  .product-image {
    aspect-ratio: 1.06;
    object-fit: cover;
    object-position: center;
    width: 79px;
  }
  .product-info {
    justify-content: space-between;
    align-items: start;
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 12px 20px;
  }
  .product-details {
    display: flex;
    flex-direction: column;
    color: #222;
  }
  .product-title {
    letter-spacing: 0.28px;
    font-size: 14px;
    line-height: 1.43;
  }
  .product-quantity {
    letter-spacing: 0.2px;
    margin-top: 5px;
    font-size: 10px;
  }
  .product-price {
    color: #828282;
    font-size: 14px;
  }
  .b-style
  {
    height: 70px;
   background-color: #0d3f20;
   width:324px;
   position: relative;
  }

  .confirmation-message { 
    display: flex; 
    align-items: flex-start; 
    border-radius: 8px; 
    background-color: #0d3f20; 
    max-width: 349px; 
    color: #fff; 
    justify-content: center; 
    padding: 13px 16px;  
    font: 600 16px/1.4 Inter, -apple-system, Roboto, Helvetica, sans-serif; 
  } 